# Segmenting and Clustering Neighborhoods in Paris

## My project description

<div style="margin-top: 20px">

<font size = 2>
In my Capstone project I want to study the different tourist places by neighborhood  of Paris, the city of lights. Study the different small activities around each tourist place such as restaurants, libraries, etc. Also study the correlation between the population by neighborhood and the number of restaurants and their type.
 
</font>
</div>

### Data source

To do this project, I retrieve the data from the opendata site https://opendata.paris.fr/page/home/, by doing web scraping with beautifulsoup, or dowloading the data in a csv file or using the restful API.

In [24]:
#!pip install bs4
from bs4 import BeautifulSoup
import requests
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [28]:
!wget  https://opendata.paris.fr/explore/dataset/quartier_paris/download?format=csv -O paris_quartiers.csv

--2020-02-13 10:47:38--  https://opendata.paris.fr/explore/dataset/quartier_paris/download?format=csv
Resolving opendata.paris.fr (opendata.paris.fr)... 34.249.199.226, 34.248.20.69
Connecting to opendata.paris.fr (opendata.paris.fr)|34.249.199.226|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/csv]
Saving to: ‘paris_quartiers.csv’

paris_quartiers.csv     [  <=>               ] 340.17K  1.16MB/s    in 0.3s

2020-02-13 10:47:40 (1.16 MB/s) - ‘paris_quartiers.csv’ saved [348339]

In [29]:
df_data = pd.read_csv('paris_quartiers.csv',sep=';')
df_data.head()

,n_sq_qu,c_qu,c_quinsee,l_qu,c_ar,n_sq_ar,perimetre,surface,geom_x_y,geom
0,750000015,15,7510403,Arsenal,4,750000004,2878.559656,4.872649e+05,"48.851585175,2.36476795387","{""type"": ""Polygon"", ""coordinates"": [[[2.368512..."
1,750000018,18,7510502,Jardin-des-Plantes,5,750000005,4052.729521,7.983894e+05,"48.8419401934,2.35689388962","{""type"": ""Polygon"", ""coordinates"": [[[2.364561..."
2,750000039,39,7511003,Porte-Saint-Martin,10,750000010,3245.891413,6.090347e+05,"48.8712446509,2.36150364735","{""type"": ""Polygon"", ""coordinates"": [[[2.363917..."
3,750000043,43,7511103,Roquette,11,750000011,4973.010557,1.172087e+06,"48.8570640408,2.38036406173","{""type"": ""Polygon"", ""coordinates"": [[[2.379720..."
4,750000046,46,7511202,Picpus,12,750000012,18261.910318,7.205014e+06,"48.8303592424,2.42882681508","{""type"": ""Polygon"", ""coordinates"": [[[2.411249..."

## Data analylis and cleaning data for using it

In [40]:

paris_data = df_data.loc[:,['c_ar','geom_x_y','c_quinsee','l_qu']]
paris_data['c_quinsee'] = paris_data['c_quinsee'].astype(str)
paris_data['code'] = paris_data['c_quinsee'].str[0:5].astype(str)
paris_data['Latitude'] = paris_data['geom_x_y'].str.extract('(.*)\,')
paris_data['Longitude'] = paris_data['geom_x_y'].str.extract(',(.*)')
paris_data = paris_data.drop(['geom_x_y','c_quinsee'],axis=1)
paris_data.columns= ['Borough', 'Neighbourhood', 'Code', 'Latitude','Longitude']
#paris_data = paris_data.reset_index()

paris_data['Borough'] = paris_data['Borough'].astype(str)
paris_data['Code'] = paris_data['Code'].astype(str)
paris_data['Latitude'] = paris_data['Latitude'].astype(float)
paris_data['Longitude'] = paris_data['Longitude'].astype(float)

paris_data.head()

  Borough       Neighbourhood   Code   Latitude  Longitude
0       4             Arsenal  75104  48.851585   2.364768
1       5  Jardin-des-Plantes  75105  48.841940   2.356894
2      10  Porte-Saint-Martin  75110  48.871245   2.361504
3      11            Roquette  75111  48.857064   2.380364
4      12              Picpus  75112  48.830359   2.428827